@import 'utils/_color'
@import 'utils/_type'

@import 'components/_button'
    
body
    +type-body
    -webkit-font-smoothing: antialiased
    padding: 0
    margin: 0

body a
    color: var(--primaryColor)

.help
    display: none