@import '../../node_modules/github-markdown-css/github-markdown'
@import '../../node_modules/highlight.js/scss/github'
@import 'utils/_color'
@import 'utils/_type'

@import 'components/_button'
@import 'components/_codeTabs'
    
body
    +type-body
    -webkit-font-smoothing: antialiased
    color: var(--primaryTextColor)
    padding: 0
    margin: 0
    +darkColorScheme
        background-color: var(--backgroundColor)

body a
    color: var(--primaryColor)
    text-decoration: none

.help
    display: none

.markdown-body
    color: var(--primaryTextColor)

.markdown-body a
    color: var(--primaryColor)

.markdown-body ul > li
    margin-top: 0.25em