<!DOCTYPE html>
<meta charset="utf-8">
<title>{{doc.fields.title}}</title>
<meta name="description" value="{{doc.fields.description}}">
<link href="//fonts.googleapis.com/css?family=Nunito&amp;display=swap" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{pod.staticFile('/dist/css/main.css')|url}}">
<script src="{{pod.staticFile('/dist/js/main.js')|url}}"></script>
<body>
<div class="main">
    {% set partial = pod.doc('/content/partials/header.yaml').fields %}
    {% include "/views/partials/header.njk" %}
    {% if doc.fields.partials %}
        {% asyncEach partial in doc.fields.partials %}
            <div class="help">{{partial.partial}}</div>
            {% include "/views/partials/" ~ partial.partial ~ ".njk" %}
        {% endeach %}
    {% else %}
        <div class="main__body">
            {{doc.body|markdown|safe}}
        </div>
    {% endif %}
    {% set partial = pod.doc('/content/partials/footer.yaml').fields %}
    {% include "/views/partials/footer.njk" %}
    {% include "/views/partials/debug.njk" %}
</div>