<div class="simpleMarkdown">
    <div class="simpleMarkdown__content">
        <div class="simpleMarkdown__body">
            <div class="markdown-body">
                {{partial.body|markdown|safe}}
            </div>
        </div>
    </div>
</div>