<div class="simpleMarkdown">
    <div class="simpleMarkdown__container">
        <div class="simpleMarkdown__body">
            <div class="markdown-body">
                {{partial.body|render|markdown|safe}}
            </div>
        </div>
    </div>
</div>