body
  --primaryColor: #2A67F6
  --borderColor: #e5e7eb
  --whiteColor: #fff
  --borderDarkColor: rgba(0, 0, 0, .15)
  --primaryTextColor: #333
  --secondaryTextColor: #6b7280
  --backgroundColor: #f6f9fc