<!DOCTYPE html>
<title>{{doc.title}}</title>
<meta name="description" value="{{doc.fields.description}}">
<body>

{% for partial in doc.fields.partials %}
    {% include "/views/partials/" ~ partial.partial ~ ".njk" %}
{% endfor %}

<pre>
    Doc: {{doc|safe}}
    Doc URL: {{doc.url|safe}}
    Doc URL Path: {{doc.url.path}}
    Env: {{env|safe}}
    {% for key, val in doc.fields %}
        {{key}}: {{val}}
    {% endfor %}
</pre>