{%- macro button(options) -%}
    {%- if options.doc -%}
        {%- set url = options.doc.url.path -%}
    {%- else -%}
        {%- set url = options.url -%}
    {%- endif -%}
    <a
        class="button {{options.class}} {{'button--icon' if options.icon or options.left_icon}}"
        href="{{url|relative}}"
        {% if options.external %}target="_blank"{% endif -%}
    >
        {%- if options.left_icon -%}
            <span class="material-icons">{{options.left_icon}}</span>
        {%- endif -%}
        <span>{{options.label}}</span>
        {%- if options.icon -%}
            <span class="material-icons">{{options.icon}}</span>
        {%- endif -%}
    </a>
{%- endmacro -%}