:root {
    --color-orange: #E78743;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #efefef;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main {
    background: #fff;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
}

.main__body {
    padding: 0 20px
}

.button {
    background: var(--color-orange);
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 700;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header__logo__image {
    max-width: 150px;
}

.header__links {
    display: flex;
    column-gap: 12px;
}

.header__links__link {
    color: var(--color-orange);
    font-weight: 500;
    text-decoration: none;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.hero {
    padding: 0 50px;
    text-align: center;
}

.hero__title {
    font-size: 40px;
    line-height: 40px;
}

.hero__title + .hero__body {
    margin-top: 20px;
}

.hero__body {
    max-width: 600px;
    margin: 0 auto;
}

.hero__body + .hero__buttons {
    margin-top: 20px;
}

.hero__images {
    margin-top: 20px;
}

.hero__images img {
    margin: 0 auto;
    max-width: 500px;
}

.columns-50x50-simple {
    display: grid;
    column-gap: 12px;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
}

.columns-50x50-simple__column {
    direction: ltr;
    grid-column-start: 1;
    grid-column-end: 6;
}

.columns-50x50-simple__column:nth-child(2) {
    grid-column-start: 7;
    grid-column-end: 13;
}

.columns-50x50-simple--reversed {
    direction: rtl;
}

.columns-50x50-simple__column__primary {
    padding: 0 50px;
}

.columns-50x50-simple__column__primary__title {
    font-size: 30px;
    line-height: 40px;
}

.columns-50x50-simple__column__primary__title + .columns-50x50-simple__column__primary__body {
    margin-top: 20px;
}

.columns-50x50-simple__column__primary__body + .columns-50x50-simple__column__primary__buttons {
    margin-top: 20px;
}

.columns-50x50-simple__column img {
    width: 100%;
}

.routes {
    padding: 0 20px;
}

.routes table {
    width: 100%;
}

.routes table tr td {
    border-bottom: 1px solid #efefef;
    padding: 0 5px;
}

.help {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    font-size: 11px;
    font-weight: bold;
    padding: 3px 8px;
    position: absolute;
    right: 0;
}

.spacer {
}

.spacer--small {
    height: 15px;
}

.spacer--medium {
    height: 30px;
}

.spacer--large {
    height: 40px;
}

.debug {
    background: #efefef;
    padding: 20px;
    font-family: monospace;
    white-space: pre-wrap;
}